WebServicesFirst/src/main/webapp/wsdl/Add2Nums.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://java.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://java.com" xmlns:intf="http://java.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://java.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add2">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="add2Response">
    <complexType>
     <sequence>
      <element name="add2Return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="add2Request">

      <wsdl:part element="impl:add2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="add2Response">

      <wsdl:part element="impl:add2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Add2Nums">

      <wsdl:operation name="add2">

         <wsdl:input message="impl:add2Request" name="add2Request">

       </wsdl:input>

         <wsdl:output message="impl:add2Response" name="add2Response">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Add2NumsSoapBinding" type="impl:Add2Nums">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="add2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="add2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Add2NumsService">

      <wsdl:port binding="impl:Add2NumsSoapBinding" name="Add2Nums">

         <wsdlsoap:address location="http://localhost:8080/WebServicesFirst/services/Add2Nums"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
